@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.flex{
    display: flex;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: #343a40;
    font-size: 0.9rem;
}

header{
    height: 10vh;
    justify-content: space-between;
    padding: 0 5%;
}

main{
    height: 80vh;
    width: 90%;
    margin: 10vh auto;
}

input {
    -webkit-appearance: none !important;
    border: 1px solid black;
    padding: 0.3rem 0.8rem;
    border-radius: 50px;
}

h1{
    font-size: 1rem;
} 

h2{
    font-size: 3rem;
} 

p{
    padding: 1rem;
}

#temp{
    justify-content: space-evenly;
    margin-bottom: 10vh;
}

#weather{    
    margin-top: 10vh;
    text-align: center;
}

#weather > #details{
    width: 25%;
    margin: 5vh auto;
    justify-content: space-around;
}

#mapid{
    width: 50vw;
    height: 50vh;
}

#myChart{
    width: 50vw !important;
    height: 50vh !important; 
}